/* user-icon section BEGINSSS*/
.top-icons{
    display: flex;
    justify-content: space-between;
  }
  .cart{
    display: flex;
    /* justify-content: space-between; */
    border-radius: 4px;
    padding: 1px 3px;
    position: relative;
  }
  .cartAmount{
    background-color: #f68b1e;
    color: #fff;
    font-size: 2rem;
    position: absolute;
    right: -1px;
    top: -4px;
    padding: 1px;
    border-radius: 3px;
  }
  .price-quantity{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .price-quantity h2{
    font-size: 2rem;
  }
  .buttons{
    display: flex;
    align-items: center;
    /* border: 1px solid hsl(233, 8%, 62%);
    padding: 8px 10px; */
  }
  .fa-plus, .fa-minus{
    color: hsl(233, 8%, 62%);
    font-size: .8rem;
  }
  .quantity{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2rem ;
  }
  
  /* user-icon section ENDSSS*/
  